.div-outer {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.div-inner {
  border: 1px solid rgb(113, 113, 113);
  padding: 20px;
  backdrop-filter: blur(2px);
}